.fclear::after{content: "";clear: both;display: block;}
.inner{width: 1300px;margin: 0 auto;}

header{position: fixed;width: 100%;text-align: center;top: 0;left: 0;background: rgba(999,999,999,0.3);padding-top: 4px;z-index: 9;transition: background 0.5s;}
header.black{background: rgba(0,0,0,0.4);}
header a{padding: 10px;background: url(../images/heart.png)no-repeat left 16px;padding-left: 25px;margin-right: 30px;display: inline-block;color: #fff;font-weight: 600;position:relative;font-size: 17px;}
header a.active{background: url(../images/heart_o.png)no-repeat left 16px;}
header a:before{content:"";width: 0;height: 10px;background: #ff6a00;position:absolute;z-index: -1;bottom: 14px;left: 20px;transition: width 0.5s;}
header a.active:before{width: calc(100% - 25px);}
header a:last-child{margin-right: 0;}

.main1{position: fixed;z-index: -9;top: 0;}
.main1 img{display:block;}
.main1 .inner{position:absolute;top: 56%;left:50%;transform: translate(-50%,-50%);color: #fff;}
.main1 .inner p{font-size: 32px;margin-bottom:15px;font-weight: 900;}
.main1 .inner>span{transform: translateY(70%);display: block;opacity: 0;transition: transform 1s, opacity 2s;}

.main2{background:#f2f1e4;padding:50px 0}
.main2 li{width: calc(50% - 160px);float:left;margin-right: 25px;}
.main2 li:last-child{margin-right:0;}
.main2 li:first-child{width: 270px;}
.main2 li>p{padding-top: 55px;box-sizing: border-box;border-bottom: 1px solid #888;padding-bottom: 10px;font-size: 19px;font-weight: 600;}
.main2 li:nth-of-type(2)>p{background: url(../images/point_icon01.png) no-repeat left top;}
.main2 li:nth-of-type(3)>p{background: url(../images/point_icon02.png) no-repeat left top;}
.main2 li:nth-of-type(4)>p{background: url(../images/point_icon03.png) no-repeat left top;}
.main2 li>div{margin-top:15px;}
.main2 li div h1{font-size: 22px;margin-bottom: 18px;font-weight: 600;/* color: #383838; */}
.main2 li div>div{margin-bottom: 20px;}
.main2 li:nth-of-type(2) div div p{display:inline-block;width: 131px;position: relative;letter-spacing: -1.5px;}
.main2 li:nth-of-type(2) div div p:before{content:"";position:absolute;width:1px;height: 15px;background:#888;right:0;top: 4px;}
.main2 li:nth-of-type(2) div div span{display:inline-block;width: calc(100% - 136px);vertical-align: top;padding-left: 8px;box-sizing: border-box;letter-spacing: -1.5px;}
.main2 li:nth-of-type(3) div div p{font-size: 20px;font-weight: 600;color: #383838;margin-bottom: 10px;}
.main2 li div div em{display:block;opacity:0.7;margin-top: 5px;}

.main3{background:#111;padding: 50px 0;position: relative;padding-bottom: 110px;}
.main3 h1{color:#fff;font-weight:700;padding-bottom: 15px;}
.main3 h1 span{font-weight:100;font-size:17px;padding-left:7px;}
.main3 .inner{z-index: 5;position:relative;}
.main3 .btn button{position:absolute;top:50%;transform:translateY(-50%);z-index: 9;}
.main3 .btn .next{right:0;}
.main3 .btn .prev{left:0;}
.main3 .slide{border-top:1px solid #fff;border-bottom:1px solid #fff;}
.main3 .slide .txt{color:#fff;display:inline-block;text-align: center;width: 410px;vertical-align: middle;margin-top: -30px;}
.main3 .slide .txt span{text-align:center;display:block;margin: 12px 0;}
.main3 .slide .txt p{font-size: 42px;line-height: 1;display: block;letter-spacing: -1px;}
.main3 .slide .txt em{padding-top: 10px;font-size: 42px;font-weight: 900;line-height: 1;display: block;}
.main3 .slide .slick-slide{text-align:center;padding: 50px 0;}
.main3 .slide img{display:inline-block;width: calc(100% - 600px);padding-left: 50px;vertical-align: middle;}
.main3 .slick-dots{position:absolute;top: 50%;width: 400px;left: 103px;z-index: 10;transform: translate(-10%,85px);text-align: center;}
.main3 .slick-dots li{text-indent:-999rem;display:inline-block;width:10px;height:10px;background:#e3ecf5;border-radius:500px;margin:0 4px;}
.main3 .slick-dots li.slick-active{background:#f4f1d5;width:25px}
.opacity_wrap{position: absolute;top: 50%;z-index: 1;width: 100%;transform: translateY(-51%);}
.main3 .opacity_slide .slick-slide{opacity: 0.4;}
.main3 .opacity_slide .slick-slide img{width: 70%!important;margin: 0 auto;display: block!important;}
.main3 .opacity_slide .slick-active{opacity: 0;}

footer{background:#222222;text-align:center;color:#fff;padding:25px 0;}
footer p:last-child{margin-top:20px;}


@media(max-width:1300px){
    .inner{width:100%;padding:0 10px;}
    .main2 li>p{font-size: 17px;letter-spacing: -1.5px;}
    .main3 .btn{width:calc(100% - 20px);}
    .main3 .btn .next{right:10px;}
    .main3 .btn .prev{left:10px;}
}
@media(max-width: 1024px){
    .main1 .inner p{font-size:28px;}
    .main2 li:first-child{width: 180px;}
    .main2 li{width: calc(50% - 115px);}
    .main2 li>p{background-size:40px!important;padding-top: 37px;}
    .main2 li div h1{font-size:18px;margin-bottom: 7px;}
    .main2 li:nth-of-type(3) div div p{font-size:16px;margin-bottom: 5px;}
    .main2 li>div>div{margin-bottom:10px;}.main2 li div div em{margin-top:0;}
    .main2 li:nth-of-type(2) div div p:before{top: 3px;height: 12px;}
    .main2{padding:35px 0;}
    .main3 h1 span{font-size:15px;}
    .main3 .slide .txt p{font-size:30px;}
    .main3 .slide .txt em{font-size:30px;}
    .main3 .slide .txt{width:300px;margin-top: -49px;}
    .main3 .slide img{width: calc(100% - 480px);}
    .main3 .slick-dots{width: 281px;transform: translate(-10%,57px);}
    .main3{padding:40px 0;}
    .main1{height:307px;width: 100%;}
    .main1 img{height: 307px;position: absolute;top:0;max-width: unset;left: 50%;transform: translateX(-50%);}
    .main2 li:nth-of-type(2) div div p{width: 100px;}
    .main2 li:nth-of-type(2) div div span{width: calc(100% - 104px);}
    .main1 .inner>span{opacity:1!important;transform:none;}
}
@media(max-width:870px){
    .main2 li:nth-of-type(2){width: calc(100% - 175px);margin-right: 0;}
    .main2 li:last-child{width:100%;margin-top: 20px;}
    .main2 li>div>div{display:inline-block;width: calc(50% - 7px);vertical-align: top;}
    .main2 li>div>div:last-child{margin-left:10px;}
    .main2 li:nth-of-type(2) div div p{width: 94px;}
    .main2 li:first-child{width:150px;}
    .main2 li>p{background-size:30px!important;padding-top: 33px;}
    .main2{padding:25px 0;}
    .main3 .slide .txt p{font-size:23px;}
    .main3 .slide .txt em{font-size:23px;}
    .main3 .slide .txt{width:230px;margin-top: -35px;}
    .main3 .slick-dots{width: 269px;transform: translate(-10%,52px);}
    .main3 .btn button img{width:40px;}
    .main3 .btn button{top:57%}
}
@media(max-width:750px){
    .main3 .slide .txt{width:100%;padding-top:0;padding-bottom: 70px;margin-top: 0;}
    .main3 .slide .slick-slide{padding:20px 0;}
    .main3 .slick-dots{left:50%;transform:translateX(-50%);top:140px;}
    .main3 .slide img{padding-left:0;width:300px;}
    .opacity_wrap{top:65%;}
    .main2 li:last-child{margin-top:0;}
}
@media(max-width:600px){
    .main2 li:first-child{display:block;margin:0 auto;float: none;margin-bottom: 25px;width: 50%;}
    .main2 li:nth-of-type(2){width:100%;}
    .main2 li:last-child>div>div{width:100%;margin-left:0;}
    .main2 li:first-child p{padding-top:0;}
    header a{font-size:15px;padding-left: 18px;background-position: left 15px!important;}
    header a.active:before{left: 16px;height: 7px;}
@media(max-width:500px){
    .main2 li>div>div{width:100%;margin-left:0!important;}
    .main2 li div>div:last-child{margin-bottom:0;}
    .main2 li:last-child{margin-top:20px;}
    .main3{padding:25px 0;}
    .main1 .inner p{font-size:25px;}
    .main2 li div h1{font-size:17px;}
    .main3 h1{font-size:25px;}
}
@media(max-width:400px){
    .main3 .slide img{width:70%;}
    header a{margin-right:10px;font-size:14px;}
}
@media(max-width:350px){
    header a{letter-spacing:-1px;}
}