.footer{background: #121212;color: #ffffff;padding: 27px 0;width: 100%;top: 0;z-index: 999;transition: top 0.5s;}
.footer.fixed{position: fixed;}
.footer .left{float: left;width: 47%;padding: 41px 20px;}
.footer .left img{display: inline-block;vertical-align: middle;width: 90px;margin-right: 7px;margin-top: -4px;}
.footer .left span{display: inline-block;vertical-align: middle;font-size: 30px;}
.footer .right{float: left;width: 50%;padding: 0 20px;}
.footer .right .input_wrap{width: 65%;display: inline-block;}
.footer .right .input_wrap input{border: 1px solid rgba(255, 255, 255, 0.5);background: none;padding: 9.3px 15px;width: 100%;box-sizing: border-box;font-size: 16px;margin-bottom: 4px;}
.footer .right>button{background: #B4327A;width: calc(35% - 5px);font-size: 24px;text-align: left;padding: 29px 31px;vertical-align: top;}
.footer .right>button em{float:right;font-family: cursive;}

.right_q{position: fixed;right: 0;bottom: 100px;z-index: 99;width: 100px;}
.right_q img{display: block;}

.main{text-align: center;padding-bottom: 204px;overflow: hidden;}

.main1{background: url(../images/main1_bg.png)no-repeat;background-size: 100% 100%;color: #ffffff;padding: 50px 0;}
.main1 h1{font-size: 44px;}
.main1 h1 em{font-weight: 600;}
.main1 .logo{width: 415px;display: block;margin: 0 auto;margin-bottom: 17px;margin-top: -5px;}
.main1 .gif1{width: 560px;display: block;margin: 0 auto;padding-left: 30px;}
.main1 p{font-size: 39px;font-weight: 300;}
.main1 p em{font-weight: 600;}
.main1 span{font-size: 29px;}
.main1 span em{font-weight: 600;}

.main2{background: url(../images/main2_bg.png)no-repeat;background-position: right bottom;}
.main2 .iframe{width: 1300px;position: relative;margin: 0 auto;padding-top: 38%;}
.main2 iframe{position: absolute;width: 100%;left: 0;height: 100%;top: 0;}
.main2 .txt{background: #1B1B1B;width: 1300px;margin: 0 auto;color: #fff;padding: 20px 0;}
.main2 .txt img{margin: 0 15px;vertical-align: bottom;}
.main2 .txt p{font-size: 29px;font-weight: 600;}
.main2 .txt span{font-size: 27px;font-weight: 300;margin-top: 10px;display: block;}
.main2 .txt span em{font-weight: 600;}

.main3{background: #F1D8D3;overflow: hidden;}
.main3 .inner{padding: 0 70px;}
.main3 h1{font-size: 50px;font-weight: 200;color: #6d554a;padding-top: 65px;margin-bottom: 60px;}
.main3 h1 span{font-weight: 400;font-size: 62px;display: block;line-height: 1.2;color: #251f1c;}
.main3 h1 span em{font-weight: 600;}
.main3 .left{width: 45%;display:inline-block;position:relative;/* float: left; */z-index: 10;vertical-align: bottom;}
.main3 .left>img{width:100%;display: block;/* box-shadow: 31px 18px 20px 6px rgba(0, 0, 0, 0.38); *//* border-radius: 78px 78px 0 0; */}
.main3 .left .slide{position:absolute;top: 24%;width: 75.1%;left: 6.3%;}
.main3 .right{width: calc(50% - 5px);/* float: left; */display:inline-block;padding-top: 45px;/* transform: translateX(-74px); */vertical-align: bottom;}
.main3 .right .slide{/* margin-left: 120px; *//* margin-right: 70px; */width: 80%;margin: 0 auto;}
.main3 .right .slick-dots li{display: inline-block;background: #ffffff;width: 20px;height: 20px;border-radius: 100px;margin: 0 5px;margin-bottom: 30px;margin-top: 25px;}
.main3 .right .slick-dots li.slick-active{background: #262626;}
.main3 .right .slick-dots li button{text-indent: -999rem;}
.main3 .right .txt{background: rgba(54, 9, 21, 0.3);color: #fff;font-size: 25px;padding: 10px;position:relative;z-index: 9;margin-bottom: 50px;/* padding-left: 70px; */}
.main3 .right .txt:before{position:absolute;content:"";background: rgba(54, 9, 21, 0.3);left: 100%;width:100%;height:100%;top:0;}
.main3 .right .txt:after{position:absolute;content:"";background: rgba(54, 9, 21, 0.3);right: 100%;width: 50%;height:100%;top:0;z-index: -1;}
.main3 .right .txt p{padding: 20px 0;}

.main4{background: url(../images/main4_bg.jpg)no-repeat;padding-top: 150px;position:relative;background-size: 100% 100%;}
.main4 img{display: block;margin: 0 auto;}
.main4 .gif1{margin-bottom:60px;width: 550px;}
.main4>div{position:absolute;left:50%;transform:translateX(-50%);}
.main4 .logo{margin-bottom: 60px;width: 400px;}
.main4 .txt{width:600px;}
.main4 .doc{margin-top: 200px;}

.main5{background: url(../images/main5_bg.jpg)no-repeat;color: #ffffff;padding-top: 100px;padding-bottom: 50px;}
.main5 h1{font-weight: 700;font-size: 135px;line-height: 1;}
.main5 h2{font-size: 53px;font-weight: 300;}
.main5 h3{font-weight: 700;font-size: 60px;background: #53293D;display: inline-block;border-radius: 500px;padding: 0 100px;}
.main5 h3 em{font-weight: 100;}
.main5 h4{font-size: 35px;margin-top: 10px;}
.main5 ul{margin: 0 auto;margin-top: 30px;display: inline-block;}
.main5 ul li{float: left;background: #ffffff;color: #3c3e41;height: 630px;margin: 0 1.5px;width: calc(50% - 3px);}
.main5 ul li .video-wrap{width: 100%;}
.main5 ul li .video-wrap video{width: 100%;}
.main5 ul li p{font-size: 30px;font-weight: 600;margin-bottom: 40px;padding-top: 25px;}
.main5 ul li span{position: relative;display: block;padding-left: 40px;margin: 10px 15px;text-align: left;font-size: 20px;}
.main5 ul li span .num{position: absolute;left: 0;color: #ffffff;background: #7b828c;border-radius: 500px;text-align: center;width: 25px;height: 25px;box-sizing: border-box;padding-top: 2px;font-size: 16px;top: 1px;}
.main5 ul li.pink{color: #ffffff;background: #b4327a;}
.main5 ul li.pink span{font-weight:300}
.main5 ul li.pink span .num{background: #ffffff;color: #b4327a;}
.main5 ul li.pink span .bold{font-weight: 700;}
.main5 ul li.pink span .fzl{font-size: 18px;line-height: 1;display: block;}

.main6{background: #E7DEDE;padding-top: 70px;}
.main6 .top h1{font-size: 80px;position: relative;padding-bottom: 71px;}
.main6 .top h1::before{content: "";position: absolute;width: 1px;height: 80px;background: #7d7d7d;left: 50%;bottom: 0;transform: translateX(-50%);}
.main6 .top h1 em{font-weight: 700;color: #c52c71;font-size: 89px;}
.main6 .top h2{font-size: 37px;margin-top: 14px;font-weight: 300;}
.main6 .top a{background: #c52c71;color: #ffffff;padding: 10px 35px;font-weight: 500;font-size: 29px;margin: 35px 0;display: inline-block;width: 470px;box-sizing: border-box;text-align: left;padding-right: 20px;}
.main6 .top img{margin-top: 30px;margin-bottom: 15px;}
.main6 .top h3{color: #333537;font-size: 30px;border-bottom: 1px dashed rgba(0,0,0,0.2);padding-bottom: 50px;margin-bottom: 30px;}
.main6 .bot{padding-top: 30px;}
.main6 .bot .inner>img{display: inline-block;transform: translateY(6px);width: 490px;}
.main6 .bot .inner>div{display: inline-block;width: calc(100% - 530px);vertical-align: top;padding-top: 70px;text-align: right;float: right;padding-left: 105px;}
.main6 .bot .inner>div>img{margin-bottom:20px}
.main6 .bot .inner>div>div{}
.main6 .bot .inner>div>div>p{font-size: 26px;margin: 12px 20px;display: inline-block;}
.main6 .bot .inner>div>div{margin: 0 36px;text-align: left;}
.main6 .bot .inner>div>div>input{width: calc(100% - 55px);background: #ffffff;border: 1px solid #6B6E78;padding: 10px 20px;margin: 8px 20px;display: block;}
.main6 .bot .inner>div>div>input::placeholder{color: #6B6E78;}
.main6 .checkbox1>div{margin-left:22px;margin-top: 30px;}
.main6 .checkbox1 label::before{background: url(../images/main6_chk.png) no-repeat;}
.main6 .checkbox1 input:checked+label:before{background: url(../images/main6_chk_o.png) no-repeat}

.main7 .top{position: relative;background: url(../images/main7_top_bg.jpg) no-repeat;padding: 100px 0;padding-bottom: 110px;background-size: 100% 101%;}
.main7 .top .mid{position: absolute;bottom: -13.5%;left: 50%;transform: translateX(-50%);}
.main7 .bot{background: url(../images/main7_bot_bg.jpg) no-repeat;}
.main7 .bot{padding-top: 160px;}
.main7 .bot .doc{position: relative;display: inline-block;margin: 0 auto;transform: translateY(7px);}
.main7 .bot .txt1{display:block;margin:0 auto;margin-top:10px}
.main7 .bot .txt2{display:block;margin:0 auto;margin-top:60px}
.main7 .bot .doc{margin-top: 80px;}
.main7 .bot .doc .all{display:block;}
.main7 .bot .doc .doc1{bottom: 0;position: absolute;left: 7.5%;}
.main7 .bot .doc .doc2{bottom: 0;position: absolute;left: 38%;}
.main7 .bot .doc .doc3{bottom: 0;position: absolute;right: 10%;}
.main7 .bot .doc>button>img{display: block;}
.main7 .doc1_pop,.main7 .doc2_pop,.main7 .doc3_pop{position: fixed;top: 66%;transform: translate(-50%,-50%);left: 50%;height: 57%;display: none;z-index: 5;}
.main7 .doc1_pop img, .main7 .doc2_pop img, .main7 .doc3_pop img{height:100%;width: 100%;}
.main7 .doc1_pop .close,.main7 .doc2_pop .close,.main7 .doc3_pop .close{position: absolute;right: 20px;top: 20px;}

.main8{background: url(../images/main8_bg.jpg)no-repeat;padding-top: 70px;background-size: 100% 100%;padding-bottom: 50px;}
.main8>img{margin-bottom: 30px;width: 800px;}
.main8>p{color: #ffffff;font-size: 25px;}
.main8 .slide{width: 1000px;margin: 0 auto;margin-top: 40px;}
.main8 .slick-dots li{display: inline-block;width: 20px;height: 20px;margin: 0 5px;margin-bottom: 30px;margin-top: 25px;border: 1px solid #fff;}
.main8 .slick-dots li.slick-active{background: #ffffff;}
.main8 .slick-dots li button{text-indent: -999rem;}

.main9{padding-top:60px}
.main9 .time{display: inline-block;width: calc(100% - 358px);vertical-align: top;padding-left: 100px;box-sizing: border-box;}
.main9 .time li{position: relative;padding-left: 20px;font-size: 25px;text-align: left;margin: 15px 0;padding: 0 50px;}
.main9 .time li::before{position: absolute;content: "";width: 9px;height: 9px;background: #f7c07f;border-radius: 500px;left: 28px;top: 16px;}
.main9 .time li p{display: inline-block;width: 200px;font-weight: 300;margin: 5px 0;vertical-align: top;}
.main9 .time li p em{background: #fce6cc;border-radius: 500px;font-size: 20px;width: 30px;display: inline-block;text-align: center;margin-left: 10px;font-weight: 500;}
.main9 .time li span{display: inline-block;width: calc(100% - 207px);font-weight: 500;padding-left: 60px;box-sizing: border-box;margin: 5px 0;}
.main9 .time li:last-child{border-top: 1px solid rgba(0,0,0,0.4);padding-top:20px}
.main9 .time li:last-child:before{display:none;}
.main9 .map{font-size: 25px;text-align: left;margin-top: 10px;margin-bottom: 10px;}
.main9 .map .left{background: #FFEB33 url(../images/main9_kakao.jpg) no-repeat;color: #423630;display: inline-block;width: 50%;float: left;padding: 42px 0;background-position: 30px center;padding-left: 150px;height: 121px;}
.main9 .map .left em{font-weight: 900;font-family: 'NanumSquare', sans-serif;margin-left: 25px;}
.main9 .map .right{background: #282729 url(../images/main9_call.png) no-repeat;color: #ffeb33;display: inline-block;width: 50%;float: left;padding: 42px 0;background-position: 36px center;padding-left: 140px;height: 121px;position: relative;}
.main9 .map .right em{position: absolute;top: 50%;transform: translateY(-50%);margin-left: 35px;font-weight: 600;}


@media(max-width:1320px){
    .main4 .gif1{width:30%;margin-bottom: 40px;}
    .main4 .logo{width:40%;margin-bottom: 40px;}
    .main4 .txt{width:65%;}
    .main4 .doc{margin-top:300px;}
    .main4{padding-top:80px;}
    .main5 h1{font-size:70px}
    .main5 h2{font-size:40px}
    .main5 h3{font-size:43px;}
    .main5 h4{font-size:28px;}
    .main5 ul li p{font-size:23px;padding-top: 20px;margin-bottom: 25px;}
    .main5 ul li span{font-size:18px;}
    .main5 ul li span .num{font-size:14px;width: 23px;height: 23px;}
    .main5 ul li{height:600px;}
    .main6 .top h1{font-size:60px;padding-bottom: 60px;}
    .main6 .top h1 em{font-size: 65px;}
    .main6 .top h1::before{height:60px;}
    .main6 .top h2{font-size:30px;}
    .main6 .top a{font-size: 21px;width: 380px;}
    .main6 .top h3{font-size:20px}
    .main6 .bot{padding: 0 50px;padding-top: 30px;}
    .main6 .bot .inner>div>div>p{font-size:20px}
    .main6 .bot .inner>div>div>input{font-size:14px}
    .main6 .checkbox1>div{font-size:14px;margin-top: 18px;}
    .main6 .checkbox1>div label{padding-left:25px}
    .main6 .checkbox1 label::before{width:20px;height:20px}
    .main6 .bot .inner>div{padding-left:5%;padding-top: 50px;vertical-align: bottom;float: none;padding-bottom: 20px;width: calc(100% - 355px);}
    .main6 .bot .inner>div>img{width:500px;margin: 0 auto;margin-bottom: 20px;display: block;}
    .main6 .bot .inner>img{width: 350px;}
    .main7 .top .txt{width:65%}
    .main7 .top .mid{width:65%}
    .main7 .bot .txt1{width:55%}
    .main9 .inner>img{width:300px;}
    .main9 .time li{font-size:20px;padding-right: 0;}
    .main9 .time li::before{top: 14px;}
    .main9 .map{font-size:20px}
    .main9 .map .left{background-size: 70px;padding: 35px 0;padding-left: 130px;height: 100px;}
    .main9 .map .right{background-size: 59px;padding: 35px 0;padding-left: 121px;height: 100px;}
    .main3 .inner{padding: 0 150px;}
    .main3 .right .txt{font-size:20px}
    .main3 .right .txt img{width:20px}
    .main3 .right .txt p{padding:15px 0}
    .main3 h1{font-size:40px;}
    .main3 h1 span{font-size:50px;}
    .main3 .left>img{/* border-radius:57px 57px 0 0 */}
    .footer .left span{font-size: 25px;}
    .footer .left img{width: 70px;}
    .footer .right .input_wrap input{font-size:14px;padding: 6.3px 15px;}
    .footer .right>button{font-size:20px;padding: 23px 29px;}
    .footer label{font-size: 14px;padding-left: 29px;}
    .footer [class^=checkbox] label::before{width: 20px;height: 20px;}
    .footer .left{padding:30px 20px}
    .footer{padding:22px 0}
    .main2 .iframe{width:90%}
    .main2 .txt{width:90%;}
    .main9 .time{padding-left: 56px;}
    .main9 .time li span{padding-left: 30px;width: calc(100% - 207px);}
    .main2{background-image:none;}
}
@media(max-width:1200px){
    .main3 .right .txt{margin-bottom:20px;padding-right: 0;}
    .main3 .right .slick-dots li{margin:15px 5px;width: 13px;height: 13px;}
    .main3 .right{width: calc(100% - 363px);}
    .main3 .left{width:358px;}
    .main3 .inner{padding: 0 7%;}
    .main3 .right .slide{width:300px;margin: 0 auto;}
    .main3 .right .txt{/* padding-right: 12%; */}
    .main5 ul li{height:550px;}
    .main6 .bot .inner>div>div{margin: 0 5%;}
    .main6 .bot .inner>div>div>p{font-size:18px}
    .main7 .bot{padding-top:130px}
    .main8{padding-top: 60px;padding-bottom: 40px;}
    .main8>img{margin-bottom: 30px;width: 600px;}
    .main8>p{color: #ffffff;font-size: 22px;}
    .main8 .slide{width: 750px;}
    .main8 .slick-dots li{width: 18px;height: 18px;}
}
@media(max-width:1000px){
    .main1 h1{font-size:30px;}
    .main1 .logo{width: 270px;}
    .main1 .gif1{width:380px}
    .main1 p{font-size:25px}
    .main1 span{font-size:20px}
    .footer .right>button{font-size: 18px;width: 145px;padding: 24px 22px;}
    .footer .left{width: 44%;}
    .footer .right{width:55%}
    .footer .right .input_wrap{width: calc(100% - 150px);}
    .main2 .txt p{font-size:20px;}
    .main2 .txt img{width:80px}
    .main2 .txt span{font-size:18px}
    .main3 .right .txt{font-size: 16px;padding-right:0;}
    .main3 .right .slide{/* margin-left:125px; */width: 250px;}
    .main3 h1{font-size:30px;margin-bottom: 30px;padding-top: 40px;}
    .main3 h1 span{font-size:35px;}
    .main3 .right{width: calc(100% - 313px);}
    .main3 .left{width:308px;}
    .main3 .right .txt p{padding:10px 0}
    .main4 .gif1{width:40%;margin-bottom: 40px;}
    .main4 .logo{width:40%;margin-bottom: 40px;}
    .main4 .txt{width:90%;}
    .main4 .doc{margin-top:350px;}
    .main4{padding-top: 50px;}
    .main5 ul li span{font-size:14px;padding-left: 26px;}
    .main5 ul li span .num{font-size:11px;width: 19px;height: 19px;}
    .main5 ul li.pink span .fzl{font-size:12px;}
    .main5 ul li{height:500px}
    .main5{padding-top:80px}
    .main6 .bot .inner>div>div{width:310px;margin:0 auto;}
    .main6 .bot .inner>div>div>p{font-size:15px;margin-right: 0;margin-left: 0;display: inline-block;margin: 7px 0;}
    .main6 .bot .inner>div{width: 400px;}
    .main6 .bot .inner>img{width:300px}
    .main6 .bot .inner>div>img{width: 100%;}
    .main6 .bot .inner>div>div>input{margin-left:0;margin-right:0;width: calc(100% - 11px);}
    .main6 .checkbox1>div{margin-left:0}
    .main6{padding-top:30px}
    .main6 .top h1{font-size: 40px;padding-bottom: 35px;}
    .main6 .top h1 em{font-size: 42px;}
    .main6 .top h1::before{height: 35px;}
    .main6 .top h2{font-size: 20px;}
    .main6 .top a{font-size: 17px;width: 270px;padding: 10px 20px;margin-top: 20px;margin-bottom: 20px;}
    .main6 .top h3{font-size: 17px;}
    .main7 .top{padding:50px 0}
    .main7 .bot{padding-top:80px}
    .main7 .bot .doc>button{width: 23%;}
    .main9 .inner>img{width: 190px;}
    .main9 .time{width: calc(100% - 195px);}
    .main9{padding-top:30px}
    .main9 .time li{font-size:17px;padding-left: 25px;}
    .main9 .time li p{width:150px}
    .main9 .time li span{width: calc(100% - 155px);}
    .main9 .time li p em{font-size:15px;width: 22px;}
    .main9 .time li::before{top: 12px;width:7px;height:7px;left: 10px;}
    .main9 .map .left{background-size: 50px;padding: 30px 0;padding-left: 100px;height: 87px;}
    .main9 .map .right{background-size: 46px;padding: 33px 0;padding-left: 100px;height: 87px;}
    .main9 .map{font-size: 17px;}
    .right_q{width: 80px;}
}
@media(max-width:850px){
    .footer .left{width:100%;padding: 0;padding-bottom: 10px;}
    .footer .right{width:100%;}
    .footer .left span{font-size: 18px;}
    .footer .left img{width:50px;margin-top: 0;}
    .footer .right .input_wrap input{font-size:10px;padding: 5px 10px;}
    .footer .right>button{font-size:15px;padding: 18px 22px;}
    .footer label{font-size:10px;}
    .footer [class^=checkbox] label::before{width:15px;height:15px}
    .footer [class^=checkbox] input{width:15px;height:15px;}
    .footer .checkbox1>div{margin-top:0;}
    .footer{padding:10px 0;padding-top:15px}
    .main3 .inner{padding:0 3%;position: relative;}
    .main4 .doc{margin-top:300px;}
    .main5 h1{font-size: 50px;}
    .main5 h2{font-size: 30px;}
    .main5 h3{font-size: 35px;padding: 0 50px;}
    .main5 h4{font-size: 20px;}
     .main5 ul li p{font-size: 20px;padding-top: 10px;margin-bottom: 15px;}
     .main5 ul li{height: 400px;}
     .main6 .bot .inner>img{width:200px;position: absolute;right: 0;bottom: 0;}
     .main6 .bot .inner>div{width: 400px;padding-left: 0;padding-top: 0;}
     .main6 .inner {position:relative;}
     
     .main6 .bot{text-align: left;}
    .main7 .bot .txt2{width:40%}
    .main7 .bot .doc{margin-top:20px}
    .main8{padding-top: 60px;padding-bottom: 40px;}
    .main8>img{margin-bottom: 30px;width: 500px;}
    .main8>p{color: #ffffff;font-size: 20px;}
    .main8 .slide{width: 80%;}
    .main8 .slick-dots li{width: 15px;height: 15px;}
    .main6 .bot .inner>div>div>input{padding:7px 10px;}
}
@media(max-width:800px){
    .main9 .inner>img{width: 140px;}
    .main9 .time{width: calc(100% - 145px);padding-left: 30px;}
    .main9{padding-top: 20px;}
    .main9 .time li{font-size: 15px;padding-left: 25px;}
    .main9 .time li p{width: 140px;}
    .main9 .time li span{width: calc(100% - 144px);}
    .main9 .time li p em{font-size:15px;width: 22px;}
    .main9 .time li::before{top: 11px;width: 6px;height: 6px;left: 10px;}
    .main9 .map .left{background-size: 50px;padding: 24px 0;padding-left: 100px;height: 70px;width: 100%;}
    .main9 .map .right{background-size: 46px;padding: 24px 0;padding-left: 100px;height: 70px;width: 100%;/* text-align: center; */}
    .main9 .map{font-size: 17px;}
}

@media(max-width:700px){
.main6 .bot{padding:0 }
.main6 .bot .inner>img{right:10px}
}
@media(max-width:650px){
    .main1{padding:30px 0;}
    .main1 h1{font-size: 22px;}
    .main1 .logo{width: 200px;}
    .main1 .gif1{width: 290px;}
    .main1 p{font-size: 20px;}
    .main1 span{font-size: 15px;}
    .main2 .txt p{font-size:16px;}
    .main2 .txt img{width:70px}
    .main2 .txt span{font-size:15px}
    .main3 .right{width: calc(100% - 255px);}
    .main3 .left{width:250px;}
    .main3 .right .txt{font-size:14px;position: absolute;top: 0;width: 100%;left: 0;padding: 10px 70px;}
    .main3 .right .txt br{display:none;}
    .main3 .inner{padding-top: 125px;}
    .main3 .left,.main3 .right{vertical-align: middle;}
    .main4 .gif1{width:40%;margin-bottom: 30px;}
    .main4 .logo{width:24%;margin-bottom: 30px;}
    .main4 .txt{width: 70%;}
    .main4>div{width:100%}
    .main4 .doc{margin-top: 300px;}
    .main4{padding-top: 50px;}
    .main5{padding-top:50px}
    .main6 .bot .inner>img{width:150px}
    .main6 .bot .inner>div{width: calc(100% - 100px);padding-left: 50px;padding-right: 50px;}
    .main7 .top{padding-top:30px}
    .main7 .bot .txt1{width: 61%;margin-top: 0px;}
    .main7 .bot .txt2{width: 49%;margin-top: 30px;}
    .main7 .bot{padding-top:60px}
     .main9 .inner>img{width: 140px;display: block;margin: 0 auto;}
    .main9 .time{width: 100%;padding-left: 0;}
    .main9{padding-top: 20px;}
    .main9 .time li{font-size: 15px;padding-left: 25px;}
    .main9 .time li p{width: 140px;}
    .main9 .time li span{width: calc(100% - 144px);}
    .main9 .time li p em{font-size:15px;width: 22px;height: 22px;}
    .main9 .time li::before{top: 11px;width: 6px;height: 6px;left: 10px;}
    .main9 .map .left{background-size: 50px;padding: 24px 0;padding-left: 100px;height: 70px;width: 100%;}
    .main9 .map .right{background-size: 46px;padding: 24px 0;padding-left: 100px;height: 70px;width: 100%;/* text-align: center; */}
    .main9 .map{font-size: 17px;}
    .main8{padding-top: 45px;padding-bottom: 15px;}
    .main8>img{margin-bottom: 15px;width: 400px;}
    .main8>p{color: #ffffff;font-size: 15px;}
    .main8 .slide{width: 80%;margin-top: 20px;}
    .main8 .slick-dots li{width: 10px;height: 10px;margin: 0 3px;margin-bottom: 16px;margin-top: 15px;}
}
@media(max-width:550px){
    .main3 .left, .main3 .right{width: calc(50% - 5px);}
    .main3 .right .slide{width: 100%;}
    .main3 .right{padding: 0;}
    .main3 .right .txt{padding: 10px 5%;font-size: 11px;}
    .main3 h1{font-size: 25px;margin-bottom: 30px;padding-top: 40px;}
    .main3 h1 span{font-size: 30px;}
    .main4 .doc{margin-top:250px}
    .main4{padding-top:30px}
    .main5 h1{font-size: 40px;}
    .main5 h2{font-size: 20px;}
    .main5 h3{font-size: 25px;padding: 0 50px;}
    .main5 h4{font-size: 15px;}
    .main5 ul li{margin:0;width:100%;height:auto}
    .main6 .bot .inner>div{width:100%;padding-top: 0;padding-right: 0;padding-left: 0;}
    .main6 .bot .inner>div>img{width: 360px;}
    .main6 .bot .inner>img{display:none;}
    .main6{padding-top:30px}
    .main6 .top h1{font-size: 30px;padding-bottom: 35px;}
    .main6 .top h1 em{font-size: 32px;}
    .main6 .top h1::before{height: 35px;}
    .main6 .top h2{font-size: 16px;}
    .main6 .top a{font-size: 14px;width: 230px;padding: 8px 20px;margin-top: 20px;margin-bottom: 20px;}
    .main6 .top h3{font-size: 14px;}
    .main9 .time li span{padding-left: 5px;}
    .main9 .time li{font-size:14px}
    .main9 .time li p em{font-size:13px;padding-top:2px;box-sizing:border-box;}
    .right_q{width: 60px;}
    .main8{padding-top: 45px;padding-bottom: 15px;}
    .main8>img{margin-bottom: 15px;width: 80%;}
    .main8>p{color: #ffffff;font-size: 13px;}
    .main8 .slide{width: 80%;margin-top: 20px;}
    .main8 .slick-dots li{width: 10px;height: 10px;margin: 0 3px;margin-bottom: 16px;margin-top: 15px;}
}
@media(max-width:400px){
    .main3 h1{font-size: 20px;margin-bottom: 30px;padding-top: 40px;}
    .main3 h1 span{font-size: 23px;}
    .main1 h1{font-size: 18px;}
    .main1 .logo{width: 165px;}
    .main1 .gif1{width: 230px;padding-left: 15px;}
    .main1 p{font-size: 16px;}
    .main1 span{font-size: 11px;}
    .footer .right>button{width:120px}
    .footer .right .input_wrap{width: calc(100% - 125px);}
    .main2 .txt p{font-size: 14px;}
    .main2 .txt img{width: 60px;margin: 0 10px;}
    .main2 .txt span{font-size:11px}
    .main3 .right .txt img{width:15px}
    .main4{padding-top:20px}
    .main4 .gif1{width:45%;margin-bottom: 20px;}
    .main4 .logo{width:24%;margin-bottom: 20px;}
    .main4 .txt{width:65%;}
    .main4 .doc{margin-top:200px}
    .main5{padding-top:30px;padding-bottom: 30px;}
    .main6 .bot .inner>div>div{/* margin:0; */}
    .main6 .bot .inner>div>div>p{display:inline-block;font-size: 14px;}
    .main7 .top{padding:30px 0}
    .main7 .bot .txt1{width: 65%;margin-top: 0px;}
    .main7 .bot .txt2{width: 55%;margin-top: 20px;}
    .main7 .bot{padding-top:40px}
    .main9 .time li span{padding-left:0}
    .main9 .time li{font-size:13px}
    .main9 .time li p em{font-size:13px;padding-top:2px;box-sizing:border-box;}
    .main9 .map{font-size:13px}
     .main9 .map .left{background-size: 40px;padding: 24px 0;padding-left: 67px;height: 70px;width: 100%;background-position: 15px;}
    .main9 .map .right{background-size: 34px;padding: 24px 0;padding-left: 68px;height: 70px;width: 100%;background-position: 22px;/* text-align: center; */}
    .main9 .map .right em{margin-left: 23px;}
    .main8 .slick-dots li{width: 8px;height: 8px;margin: 0 2px;margin-bottom: 16px;margin-top: 15px;}
    .main5 h1{font-size: 33px;}
    .main5 h2{font-size: 18px;}
    .main5 h3{font-size: 22px;padding: 0 50px;}
    .main5 h4{font-size: 14px;}
}