header .logo img{display:block;}
header .top .search{left: 0;}
header .top .right{right: 0;}
header .top .search{display: flex;font-size: 13px;background: #f1f3f4;height: 35px;}
header .top .search span{background: #5b9ba3;color: #fff;padding: 9px 13px;}
header .top .search input{border: 0;padding: 4px 10px 0;background: none;width: 180px;}
header .top .search button{padding: 0 10px;}
header .top .right a:not(.blue){font-size: 12px;margin-right: 15px;color: #444;}
header .top .right .mo_sitemap{display:none;}
header .top .right a:not(.blue) img{display:inline-block;vertical-align: middle;padding-right: 3px;}
header .top .right a.blue{background: #1058a8;color: #fff;font-size: 14px;padding: 7px 15px 5px;border-radius: 5px;}

footer{border-top: 1px solid #ddd;padding: 30px 0;}
footer .inner{position: relative;font-size: 15px;padding-right: 310px;}
footer .inner img{position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 300px;}
footer .inner a{display: inline-block;border-right: 1px solid #aaa;line-height: 1;opacity: 0.6;height: 14px;padding-top: 1px;padding-right: 19px;}
footer .inner a:nth-last-of-type(1){padding-right:0;border:0;}
footer .inner a+a{padding-left:15px;}
footer .inner div{margin-top: 15px;opacity: 0.6;}
footer .inner div span{display: inline-block;padding-right: 10px;line-height: 1;border-right: 1px solid #aaa;height: 14px;padding-top: 1px;padding-right: 19px}
footer .inner div span:nth-last-of-type(1){padding-right:0;border:0;}
footer .inner div span+span{padding-left:15px;}

@media(max-width:1350px){
    footer .inner img{right:15px;}
    header .top .search{left: 15px;}
    header .top .right{right: 15px;}
}
@media(max-width: 1200px){
    main{padding-top:72px;}
    header{height: 72px;position: fixed;width: 100%;background: #fff;box-shadow: 0 0px 10px rgba(0,0,0,0.5);z-index: 9;}
    header .inner{position: relative;padding: 0;}
    header .top{background: #4974AA;padding: 19px 20px;position: fixed;left: 0;width: 100%;left: 100%;transition: left 0.5s;z-index: 9;height: 72px;top: 0;}   
    header .top.on{left: 0;}
    header .top .logo{display:none;}
    header .logo{width: 250px;display: block;padding: 10px 0;margin: 0 auto;}
    header .wrap>.inner{position:fixed;left: 100%;width: 100%;background: #fff;top: 72px;height: calc(100% - 72px);z-index: 9;transition: left 0.5s;padding-top: 25px;}
    header .wrap>.inner.on{left: 0;}
    header .menu:before{content:"";width: 170px;height:100%;background: #EFF9FE;left:0;top: 25px;position:absolute;z-index: -1;}
    header .m_right{position: fixed;right: 20px;top: 22px;width: 26px;height: 28px;}
    header .m_right .sitemap{display: none;}
    header .m_right .mo_open{width: 26px;height: 24px;position: absolute;display: inline-block;/* margin: 0 13px; */vertical-align: top;margin-top: 3px;visibility: visible;}
    header .m_right .mo_open span{width: 100%;background: #555;height: 4px;top: 0;position: absolute;left: 0;transition: all 0.5s;border-radius: 500px;}
    header .m_right .mo_open span:nth-of-type(2){top: 9px;}
    header .m_right .mo_open span:nth-of-type(3){top: 19px;}
    header .on .m_right .mo_open{margin-top: 0px;width: 30px;opacity: 0;}
    header .on .m_right .mo_open span{background:#fff;}
    header .on .m_right .mo_open span:nth-of-type(1){transform: translateY(14px) rotate(45deg) translateX(-3px);}
    header .on .m_right .mo_open span:nth-of-type(2){opacity: 0;}
    header .on .m_right .mo_open span:nth-of-type(3){transform: translateY(-9px) rotate(-45deg) translateX(-3px);}
    header .mo_close{width: 26px;height: 24px;position: relative;display: inline-block;vertical-align: top;margin-top: 3px;visibility: hidden;width: 0;margin: 0;}
    header .mo_close span{width: 100%;background: #555;height: 1px;top: 0;position: absolute;left: 0;transition: all 0.5s;}
    header .mo_close span:nth-of-type(2){top: 50%;transform: translateY(-50%);}
    header .mo_close span:nth-of-type(3){top: 19px;}
    header .mo_close.ani{visibility: visible;/* margin: 0 13px; */width: 30px;}
    header .mo_close.ani span{background: #fff;height: 4px;border-radius: 500px;}
    header .mo_close.ani span:nth-of-type(1){transform: translateY(14px) rotate(45deg) translateX(-3px);}
    header .mo_close.ani span:nth-of-type(2){opacity: 0;}
    header .mo_close.ani span:nth-of-type(3){transform: translateY(-9px) rotate(-45deg) translateX(-3px);}
    header .m_right.close .mo_open{visibility:hidden;width: 0;margin: 0;}
    header .m_right.close .mo_open span{background: #fff;height: 2px;}
    header .m_right.close .mo_open span:nth-of-type(1){transform: translateY(12px) rotate(45deg);}
    header .m_right.close .mo_open span:nth-of-type(2){opacity: 0;}
    header .m_right.close .mo_open span:nth-of-type(3){transform: translateY(-12px) rotate(-45deg);}
    header .menu .depth1>a{width: 170px;display: inline-block;font-size: 16px;padding: 13px 20px;box-sizing: border-box;padding-right: 40px;}
    header .menu .depth1.plus>a{background:url(../images/plus.png) no-repeat;background-size: 20px!important;background-position: calc(100% - 15px)!important;}
    header .menu .depth1.current>a{background: #4974AA;color: #fff;}
    header .menu .depth1.current.plus>a{background: #4974AA url(../images/minus.png) no-repeat;color: #fff;}
    header .menu .depth1>ul{border-top: 1px solid #A3C6D9;position:absolute;left: 170px;top: 25px;display: none;height: calc(100% - 25px);overflow-y: scroll;width: calc(100% - 170px);}
    header .menu .depth1>ul .menu_bg{display:none;}
    header .menu .depth2>a{padding: 13px 15px;display:inline-block;font-size: 15px;width: 100%;box-sizing: border-box;border-bottom: 1px solid #A3C6D9;}
    header .menu .depth2.current>a{color:#4974AA;font-weight: 400;}
    header .menu .depth1.current>ul{display:block;}
    header .top .right a:not(.blue){color:#fff;}
    header .top .right a:not(.blue) img{filter: brightness(0) invert(1);}
    header .top .right a.blue{background:#fff;color:#4974aa;}
    header .top .right a.pc_sitemap{display:none;}
    header .top .right a.mo_sitemap{display:inline-block;width: 33px;margin-left: 20px;margin-right: 0;}
    header .top .right a.mo_sitemap img{filter: none;}
    header .search_open{display: block;position: absolute;left: 20px;top: 50%;transform: translateY(-50%);}
    header .search_open img{width:20px;}
    header .top .search{position:fixed;left: 0;top: 72px;width: 100%;height: 45px;left: 100%;transition: left 0.5s;}
    header .top .search.active{left:0;}
    header .top .search span{padding: 14px 13px;}
    header .top .search input{flex-grow:1;padding-top: 5px;}
}
@media(max-width:1024px){
    footer .inner img{display:none;}
    footer .inner{padding-right:15px;text-align:center;font-size: 12px;}
    footer .inner a{height: 10px;padding-right: 10px;}
    footer .inner a+a{padding-left: 8px;}
    footer .inner div span+span{padding-left: 8px;}
    footer .inner div span{padding-right: 10px;height: 10px;}
}
@media(max-width: 500px){
    main{padding-top:58px;}
    header .search_open{left:15px;}
    header .top .search{top:58px;}
    header{height: 58px;}
    header .logo{width: 180px;}
    header .m_right{right:15px;top: 15px;}
    header .top h1{font-size: 20px;padding-bottom: 16px;}
    header .top:before{top: 66px;}
    header .menu{top: 129px;height: calc(100% - 129px);}
    header .menu:before{width: 155px;}
    header .menu .depth1>a{width: 155px;font-size: 14px;}
    header .menu .depth1>ul{left: 155px;width: calc(100% - 155px);}
    header .top .right a.blue{padding: 7px 5px 5px;font-size: 13px;}
    header .top{padding: 14px 15px;height: 58px;}
    header .top .right a:not(.blue){margin-right:10px;}
    header .top .right a.mo_sitemap{margin-left:10px;width: 30px;}
    header .menu .depth2>a{font-size:13px;padding: 13.5px 15px;height: 47px;}
    header .wrap>.inner{height: calc(100% - 58px);top: 58px;}
}
@media(min-width: 1201px){
    header{height: 149px;}
    
    header .top{text-align: center;position: relative;border-bottom: 1px solid #CBCBCB;}
    header .top .inner{padding-top:10px;}
    header .top .search{position: absolute;top: 50%;transform: translateY(-50%);border-radius: 500px;overflow: hidden;}
    header .top .right{position: absolute;top: 50%;transform: translateY(-50%);}

    header .logo{display:inline-block;}
    header .logo img{display:block;}
    
    header .inner{position: relative;}
    header .wrap{height: 100%;transition: height 0.5s;overflow: hidden;position: relative;z-index: 1;}
    header .wrap:before{content:"";width:100%;height:1px;background: #CBCBCB;position:absolute;top: 148px;}
    header .wrap.over{height: 448px;box-shadow: 0 10px 10px rgba(0,0,0,0.3);}
    header .wrap:after{content:"";width:100%;height:100%;background:#E2F3F7;position:absolute;z-index:-1;}
    header .menu{display: flex;box-sizing: border-box;}
    header .menu .depth1{display: inline-block;flex: 0 0 calc(100% / 6);position: relative;}
    header .menu .depth1:last-child>a{padding-right:0;}
    header .menu .depth1>a{font-size: 20px;padding: 13px 5px;display: inline-block;transition: color 0.2s;width: 100%;text-align: center;}
    header .menu .depth1>a:hover,header .menu .depth1>a.over{color: #2B7EC4;font-weight: 400;}
    header .menu .depth1>ul{position: absolute;top: 56px;background: #E2F3F7;width: 100%;left: 0;box-sizing: border-box;padding: 20px 25px;}
    header .menu .depth1:not(:last-child)>ul:before{content:"";width:1px;height: 80%;position:absolute;right:0;background: #fff;top: 50%;transform: translateY(-50%);}
    header .menu .depth1>ul>li{display: block;position: relative;padding: 0 8px;}
    header .menu .depth1>ul>li>a{display:block;margin: 11px 0;line-height: 1;padding: 5px 3px 2px;color: #444;}
    header .menu .depth1>ul>li>a:hover{background:#4B75AE;color: #fff;}
    header .menu .depth1>ul>li:before{position:absolute;content:"";width: 4px;left:0;background: #384D73;height: 4px;top: 0;border-radius: 500px;}
    header .menu .menu_bg span{font-weight:500;opacity:0.5;}
    header .menu .menu_bg p{font-size: 20px;font-weight: 500;padding-bottom: 12px;}
    header .menu .over .menu_bg p{font-weight:600;color:#319ED1;}
    header .menu .depth2>a{position: relative;transition: all 0.5s;width: 100%;}
    header .menu .depth2 em{position:relative;z-index:1;transition: color 0.1s;display: inline-block;box-sizing: border-box;}
    header .menu .depth2>a:hover em{color: #319ed1;font-weight: 500;}
    header .m_right{display: inline-block;vertical-align: bottom;padding-bottom: 17px;display: none;}

    header .m_right .mo_open{display: none;}
    header .search_open{display: none;}
    header .m_logo{display: none;}
}