@media print {
	body{padding: 0;margin: 0;}
	.sub_top,.depth3{display: none;}
	.depth3 *{display: none;}
	.sub_content_wrap{margin: 0;}
	.sub_tit{margin-top: 0;}
	.sub_content{padding: 0;}
	.sub_content_wrap{margin-top: 0;}
	*{transform:none!important}
	.w600n{display:inline-block!important;}
	.w600v{display: none!important;}
	.table_wrap .com_table{width:100%}
}

.inner{width: 1500px;margin: 0 auto;}
@media(max-width: 1520px){
    .inner{padding:0 15px;width:100%;}
}
header{position: fixed;width: 100%;z-index: 999;top: 0;}
header .inner{width: 100%;padding-left: 30px;margin: 0;padding-right: 160px;}
header .logo img{display:block;}
header .sitemap{background: #5C2CA6;position: absolute;height: 100%;right: 0;top: 0;color: #fff;font-size: 25px;width: 80px;display: flex;align-items: center;justify-content: center;}
header .pop_open{transition:none;}
header .right .mo_open{display: none;}
header .menu .depth3>a i{margin-left:5px;font-size: 0.9rem;transform: translateY(-1px);}
header .clear{background:#fff;font-size: 15px;border: 2px solid #004098;border-radius: 500px;padding: 6px 15px;margin-left: 10px;}
header .search form{display:flex;}

footer{border-top:1px solid #ccc;}
footer .slick-track{margin: 0;}
footer .dark{background: #4A506B;padding: 14px 0;}
footer .dark a{margin-right: 42px;position: relative;color: #fff;font-size: 0.9rem;}
footer .dark a.color{color: #c1e4ff;}
footer .dark a:last-child{margin:0;}
footer .dark a:last-child:before{display:none;}
footer .dark a::before{content: "";position: absolute;width: 5px;height: 5px;background: #999caa;border-radius: 500px;right: -25px;top: 50%;transform: translateY(-50%);}
footer .btn button{margin-right: 2px;}
footer .banner{display: flex;align-items: center;}
footer .banner section{flex: 0 0 140px;}
footer .banner section p{display: inline-block;vertical-align: middle;}
footer .banner section .btn{display: inline-block;}
footer .banner .slide{width: calc(100% - 140px);}
footer .banner .slide a{display:block!important;}
footer .bot{padding:40px 0;color: #666;font-size: 0.9rem;display: flex;align-items: start;gap: 30px;font-weight: 400;}
footer .bot div{flex-grow:1;}
footer .bot p{display:inline-block;padding-right: 5%;}
footer .bot span{padding-right:30px;}
footer .bot span em{font-weight:500;color:#000}
footer .bot p.mr0{display:block;}
footer .bot img{filter: grayscale(1);}

.btn button{ display:inline-block; font-weight: 600; color: #3D3934; margin-right: 10px; vertical-align: middle; } 
.btn button.slick-hidden{display:inline-block;}
.btn button:hover{color:#004098;}
.btn button.btn-pause { background:#004098; color:#fff; font-size: 10px; width:20px; height:20px; border-radius: 500px; font-weight: 900; display: inline-flex; align-items: center; justify-content: center; } 
.btn div { display:inline-block; color: #004098; font-weight: 800; vertical-align: middle; margin-right: 10px; } 
.btn div p { display:inline-block; } 
.btn ul { display:inline-block; margin-right: 7px; } 
.btn ul li { background:#A2C5F6; width:7px; height:7px; display:inline-block; margin:0 4px; border-radius:10px; transition: padding 0.5s; } 
.btn ul li.active { background:#004098; padding-right: 23px; } 

aside{position:fixed;right: 10px;top: 50%;transform: translateY(-50%);z-index: 5;}
aside button,aside a{display:block;margin:0 auto;}

@media(min-width: 1201px){
    header{height: 77px;}
    
    header .top{text-align:right;padding-top:10px;display: none;}
	header .mid{display: none;}
    header .top h1{display: none;}
    header .top li a{color: #6f6f6f;padding: 0 15px;}

    header .logo{display:inline-block;padding-bottom: 20px;vertical-align: bottom;}
    header .logo img{display:block;}
    
    header .inner{position: relative;}
    header .wrap{height: 100%;transition: height 0.5s;overflow: hidden;position: relative;background: rgba(999,999,999,0.8);box-shadow: 0 0 15px rgba(0,0,0,0.3);}
    header .wrap.over:before{content:"";width:100%;height:1px;background: #004098;position:absolute;top: 76px;}
    header .wrap.over{height: 448px;box-shadow: 0 10px 15px rgba(0,0,0,0.12);background: #fff;}
    header .menu{display: inline-flex;justify-content: space-between;width: calc(78% - 292px);padding-left: 40px;box-sizing: border-box;margin-right: 25px;vertical-align: middle;}
	header .has_clear .search{width: calc(22% - 90px);}
    header .search{background: #004098;color: #fff;border-radius: 500px;width: 22%;padding: 5px 20px;display: inline-grid;align-items: center;grid-template-columns: 1fr calc(100% - 71px);}
    header .search span{position:relative;padding-right: 10px;}
    header .search span:before{content:"";width:2px;height: 17px;position: absolute;background: #fff;right: 0;top: 4px;}
	header .search input{background: none;border: 0;font-size: 0.8rem;padding: 0 10px;outline-color: #fff;min-width: 1px;flex-grow: 1;}
    header .search input::placeholder{color:#d8dce6;font-weight:100;}
	header .search button i{display:block;}
    header .menu .depth1{display: inline-block;flex: 1 0 0;text-align: center;}
    header .menu .depth1>a{font-size: 22px;font-weight: 600;padding: 23px 5px;display: inline-block;transition:color 0.3s;width: 100%;position: relative;}
    header .menu .depth1>a:before{content:"";width:0;height: 4px;bottom:0;position:absolute;background:#004098;left: 50%;transform: translateX(-50%);transition: width 0.5s;}
    header .menu .depth1>a:hover,header .menu .depth1>a.over{color: #004098;}
    header .menu .depth1>a:hover:before, header .menu .depth1>a.over:before{width:100%;}
    header .menu .depth1>ul{position: absolute;top: 77px;background: #fff;width: 1400px;left: 50%;transform: translateX(-50%);box-sizing: border-box;display: none;flex-wrap: wrap;gap: 30px 5%;text-align: left;padding: 35px 0;align-items: start;}
    header .menu .depth1>ul.over{display: flex;}
    header .menu .depth1>ul>li{display: block;flex: 0 0 calc(85% / 4);transition: none;}
    header .menu .depth1>ul>li:hover>a{background:#004098;color:#fff;border-color: #004098;}
    header .menu .depth1>ul>li:hover>a:before{transform:rotate(90deg);}
    header .menu .depth1>ul>li>a{display:block;border: 1px solid #aaa;border-radius: 5px;padding: 6px 10px;padding-right: 30px;position: relative;font-weight: 700;transition: none;}
    header .menu .depth1>ul>li>a:before{content:">";position:absolute;right: 10px;transition: transform 0.3s;}
	header .menu .depth1>ul>li.link>a:before{content:"";background:url(../images/link2.png) no-repeat;width: 17px;height: 17px;transform: none;top: 9px;}
	header .menu .depth1>ul>li.link:hover>a:before{filter: invert(1);}
    header .menu .depth1>ul>li>a span{transition:none;}
    header .menu .depth2>a{position: relative;width: 100%;}
    header .menu .depth2>ul{padding: 13px 0;}
    header .menu .depth3>a{font-size:0.95rem;display: block;padding: 3px 12px;}
    header .menu .depth3>a span{position: relative;}
    header .menu .depth3>a:hover{color:#5C2CA6;text-decoration:underline;text-underline-position: from-font;}
    header .menu .depth3>a span:before{content:"";width:7px;height:7px;border-radius:500px;position:absolute;right: -11px;top: 7px;}
    header .menu .depth3>a:hover span:before{top: -3px;transition:all 0.5s;background:#5C2CA6;}
	header .menu .depth3.link>a:hover span:before{display:none;}
    header .right{display: inline-block;vertical-align: bottom;padding-bottom: 17px;}
	header .search_open{position:absolute;color:#004098;right: 180px;z-index: 1;height: 100%;}
	header .pop_open{background: #004098;position: absolute;height: 100%;width: 80px;right: 80px;}
	header .pop_open img{margin:0 auto;}

	.search_close{display: none;}
	.search_open{display: none;}
	.sitemap.mo_open{display: none;}
}
@media(max-width: 1600px){
	header .inner{padding-left:10px;}
	header .menu{padding-left: 10px;width: calc(78% - 312px);margin-right: 10px;}
	header .search{width: calc(22% + 40px);}
	header .has_clear .search{width: calc(22% - 40px);}
	header .clear{margin-left:5px;}
}
@media(max-width: 1450px){
	header .menu .depth1>ul{width:95%;}
	header .menu .depth1>ul.over{gap: 30px 20px;}
	header .menu .depth1>ul>li{flex: 0 0 calc((100% / 4) - 15px);}
	header .clear{margin-left:5px;padding: 7px 7px;}
	header .has_clear .search{width: calc(22% - 24px);padding: 5px 12px;}
}
@media(max-width: 1300px){
    header .inner{padding-left:10px;}
	header .logo{padding-bottom:25px;}
    header .menu{}
    header .menu .depth1>a{font-size:20px;padding: 25px 5px;}
    header .search span{font-size:15px;}
    header .search span:before{top:3px;height: 15px;}
    header .search{padding: 5px 12px;width: 25%;}
    header .search input{padding:0 7px;}
    header .logo img{width:200px;}
	header .has_clear .search{width: calc(22% + 5px);grid-template-columns: 1fr calc(100% - 61px);}
	header .search{width: calc(22% + 75px);}
}
@media(max-width: 1200px){
	header{background: rgba(999,999,999,0.8);border-bottom: 1px solid #ddd;}
	header .pop_open{transition:none;display: none;}
    header .inner{position: relative;padding-left: 15px;}
    header .top{background: #004098;position: fixed;left: 0;width: 100%;left: 100%;transition: left 0.5s;padding: 0px 15px;border-bottom: 1px solid #004098;z-index: 9;top: 0;}   
	header .top .logo img{filter:brightness(0) invert(1);}
    header .top.on{left: 0;}
	header .top .mo_close{position:absolute;right:15px;color: #fff;border: 1px solid;border-radius: 500px;padding: 6px;width: auto;font-weight: 900;width: 37px;top: 50%;transform: translateY(-50%);font-size: 16px;}
	header .top .home{position:absolute;right: 70px;top: 50%;transform: translateY(-50%);width:30px;}
    header .top li:not(:last-child) a::before{background:#fff;}
	header .has_clear .mid{top: 113px;}
	header .mid{background: #ECECEC;position: fixed;width: 100%;left: 100%;transition: left 0.5s;padding: 15px 15px;z-index: 9;top: 78px;display: flex;gap: 10px;}
	header .mid .pop_open{display:block;}
	header .mid button{border-radius:500px;border: 1px solid #999;flex: 1 1 auto;padding: 5px;}
	header .mid .search_open{color:#fff;background:#004098;border-color:#004098;}
	header .mid button i{margin-right:10px;}
	header .mid button img{margin-right:10px;}
	header .mid.on{left: 0px;}
    header .logo{width: 214px;display: block;padding: 20px 0;float: left;}
	header .has_clear .menu{height: calc(100% - 181px);top: 181px;}
    header .menu{position:fixed;left: 100%;width: 100%;background: #fff;top: 145px;height: calc(100% - 145px);z-index: 9;transition: left 0.5s;overflow-y: auto;padding-left: 0;margin-right: 0;}
    header .menu.on{left: 0px;}
	header .clear{position:fixed;z-index:9;width: 100%;background: #e7f2ff;color: #000;left: 100%;top: 78px;border: 0;border-radius: 0;margin: 0;transition: left 0.5s;}
	header .clear.on{left:0;}
    header .right{padding: 26px 0;float: right;}
    header .right .sitemap{display: none;}
    header .right .mo_open{width: 26px;height: 24px;position: relative;display: inline-block;margin: 0 13px;vertical-align: top;margin-top: 3px;visibility: visible;}
    header .right .mo_open span{width: 100%;background: #555;height: 1px;top: 0;position: absolute;left: 0;transition: all 0.5s;}
    header .right .mo_open span:nth-of-type(2){top: 50%;transform: translateY(-50%);}
    header .right .mo_open span:nth-of-type(3){top: 100%;}
    header .mo_close span{width: 100%;background: #555;height: 1px;top: 0;position: absolute;left: 0;transition: all 0.5s;}
    header .mo_close span:nth-of-type(2){top: 50%;transform: translateY(-50%);}
    header .mo_close span:nth-of-type(3){top: 100%;}
    header .mo_close.ani span{background: #fff;height: 2px;}
    header .mo_close.ani span:nth-of-type(1){transform: translateY(12px) rotate(45deg);}
    header .mo_close.ani span:nth-of-type(2){opacity: 0;}
    header .mo_close.ani span:nth-of-type(3){transform: translateY(-12px) rotate(-45deg);}
    header .right.close .mo_open{visibility:hidden;width: 0;margin: 0;}
    header .menu .depth1>a{width: 100%;display: inline-block;font-size: 17px;padding: 18px 15px;box-sizing: border-box;font-weight: 600;border-bottom: 1px solid #ddd;}
    header .menu .depth1.current>a{background: #004098;color: #fff;font-weight: 600;}
    header .menu .depth1>ul{/* position:absolute; *//* left: 50%; *//* top: 0; */display: none;/* height: calc(100% - 25px); *//* overflow-y: scroll; */width: 100%;box-sizing: border-box;}
    header .menu_bg{display:none;}
    header .menu .depth2>a{padding: 15px 15px;display: block;font-size: 16px;border-bottom: 1px solid #E8E1D9;position: relative;padding-left: 24px;font-weight: 600;background: #E7F2FF;}
	header .menu .depth2:last-child>a{border-bottom: 1px solid #ddd;}
	header .menu .depth2>a:after{content: ">";position:absolute;border-radius:500px;top: 19px;border: 1px solid #dedede;width: 23px;height: 23px;display: flex;align-items: center;justify-content: center;right: 15px;top: 50%;font-size: 15px;transform: translateY(-50%) rotate(90deg);background: #fff;}
	header .menu .depth2.not_depth3>a:after{display:none;}
	header .menu .depth2.link>a:after,
	header .menu .depth2.link.current>a:after{content:"";background:url(../images/link2.png) no-repeat;width: 17px;height: 17px;transform: translateY(-50%);border-radius: 0;right: 18px;border:0;display:block;}
    header .menu .depth1.current>ul{display:block;}
    header .menu .depth2.current>a{color: #fff;color: #004098;}
	header .menu .depth2.current>a:after{background: #004098;border-color: #004098;transform: translateY(-50%) rotate(-90deg);color: #fff;}
    header .menu .depth2.current>ul{display:block;/* border-top: 2px solid #004098; *//* border-bottom: 2px solid #004098; */}
	header .menu .depth2.current>ul>li:first-child{border-top: 2px solid #004098;}
	header .menu .depth2.current>ul>li:last-child{border-bottom: 2px solid #004098;}
    header .menu .depth2>ul{/* border-bottom: 1px solid #ddd; */font-size: 15px;font-weight: 400;display: none;}
    header .menu .depth2.depth2>a{padding-right: 47px;position:relative;}
    header .menu .depth3 a{padding: 10px;padding-left: 15px;display:block;position: relative;border-bottom: 1px solid #ddd;font-weight: 500;}
	header .menu .depth3:last-child a{border:0}
	header .menu .depth3{padding:0 30px;}
    header .menu .depth3.current a{color: #5C2CA6;}
    header .menu .depth3.current a:before{content: ">";position:absolute;right: 5px;top: 50%;transform: translateY(-50%);color: #5C2CA6;}
	header .search_open{display:none;}
	header .mid .search_open{display:block;}
	header .search,header .has_clear .search{position: absolute;top: 100%;background: #2869C2;width: 100%;left: 0;color: #fff;padding: 25px 15px;display: flex;gap: 13px;align-items: center;display: none;z-index: 99;}
	header .search form{width:100%;gap: 13px;}
	header .search span{display:none;}
	header .search input{background:none;border:0;border-bottom:1px solid #fff;flex-grow: 1;}
	header .search input::placeholder{color:#fff;color:#fff;}
	header .menu .depth3>a i{font-size:0.8em;margin-top:-3px;}

	header .pop_open img{display:inline-block;width: 26px;vertical-align: top;}
	aside{bottom:0;transform:none;top: initial;right: 0;}
	aside .ai{display:none;}
	aside  .btn_gototop{width:50px;}
	
	header .logo img{width: 100%;}
	.sitemap{display: none;}
	.sitemap.mo_open{display: flex;}

    footer .bot{padding:20px;}
	footer .bot p{display:block;}
	.mb_hidden{display:none;}
}
@media(max-width: 1024px){
	header .pop_open img{width: 23px;vertical-align: bottom;}
	footer .bot{flex-direction:column;gap:20px;font-size:13px;}
	footer .bot div{width:100%;}
	footer .bot span{display:block;}
	footer .dark a{font-size:13px;margin: 2px 0;margin-right: 15px;display: inline-block;}
	footer .dark{padding: 8px 0 8px;}
	footer .dark a::before{right: -13px;}
	header .has_clear .menu{height: calc(100% - 178px);top: 178px;}
	header .menu{height: calc(100% - 142px);top: 142px;}
}
@media(max-width: 700px){
	footer .banner .slide a img{width: 150px;}
	footer .banner section{flex: 0 0 116px;}
	footer .banner .slide{width: calc(100% - 105px);}
	footer .bot img{width:190px;}
}
@media(max-width: 500px){
    header .logo{width:200px;}
    header .right .mo_open{width:20px;height: 17px;margin: 0 7px;margin-top: 2px;}
    header .right{padding: 23px 0;}
    header .right.close .mo_open span:nth-of-type(1){transform: translateY(7px) rotate(45deg);}
    header .right.close .mo_open span:nth-of-type(3){transform: translateY(-10px) rotate(-45deg);}
    header .top h1{font-size: 20px;padding-bottom: 16px;}
    header .top:before{top: 66px;}
	header .sitemap{width:60px;font-size: 20px;}
	header .pop_open{width:60px;right:60px;}
	header .search_open{right:135px;}
	header .has_clear .mid{top: 109px;}
	header .mid{top: 75px;}
	header .menu{height: calc(100% - 139px);top: 139px;}
	header .has_clear .menu{height: calc(100% - 170px);top: 170px;}
	header .clear{top: 75px;}
	header .mid button i,
	header .mid button img{margin-right:5px;width: 20px;}
}
@media(max-width: 450px){
	header .menu{height: calc(100% - 136px);top: 136px;}
}
